<div class="guesses-list">
    <table>
        <thead>
            <th>No'</th>
            <th>Guess</th>
            <th>Result</th>
        </thead>
        <tbody>
            @for(guess of userGuesses(); track $index) {
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ guess.value }}</td>
                    <td>{{ guess.result }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if(gameState() === 'playing') {
    <div class="guess-form">
        <input type="number" min="0" max="100" #nextGuess />
        <button (click)="addGuess(nextGuess.valueAsNumber)">Guess</button>
    </div>
} @else {
    @if(gameState() === 'won') {
        <h1>You won!</h1>
    } @else {
        <h1>You lost! </h1>
        <h2>The correct guess was {{computerGuess()}}</h2>
    }


    <button (click)="restartGame()">Start New game</button>
}