:host {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);

    border: 1px solid gray;
    padding: 8px;
    margin-top: 8px;

    label {
        margin-top: 4px;
        font-size: 0.7em;
        color: rgb(88, 88, 88);
    }

    button {
        align-self: flex-start;
        margin-top: 6px;
    }
}