:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;

    .movie {
        padding: 5px;
        border: 1px solid var(--p-4);
        color: var(--p-6);

        cursor: pointer;
        &:hover {
            background-color: var(--p-1);
        }
    }
}