<input class="filter-input" type="search" #filterInput
    (input)="setFilter(filterInput.value)" placeholder="Search tasks">

@for(id of taskIds(); track id) {
    <app-task [id]="id"></app-task>
}

<div class="add-task">
    <input type="text" #addTask>
    <button (click)="onAddTask()">Add</button>
</div>

<div class="info-list">
    <div class="info">
        <div class="caption">Total Tasks</div>
        <div class="value">{{ store.totalTasksCount() }}</div>
    </div>
    <div class="info">
        <div class="caption">Completed Tasks</div>
        <div class="value">{{ store.completedTasksCount() }}</div>
    </div>
    <div class="info">
        <div class="caption">Pending Tasks</div>
        <div class="value">{{ store.pendingTasksCount() }}</div>
    </div>
</div>

