:host {
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            border: 1px solid gray;
            margin: 4px;
            padding: 4px;
            cursor: pointer;

            &:hover {
                background-color: lightgray;
            }
        }

    }
}