:host {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;

    .birth-date {
        color: var(--p-8);
        font-weight: bold;
        font-size: 0.9em;
    }

    .birth-place {
        color: var(--p-8);
        font-weight: bold;
        font-size: 0.9em;
    }

    .full-name {
        color: var(--p-5);
    }

    .bio {
        color: var(--p-6);
    }

    .image {
        max-width: 100%;
        border: 2px solid var(--p-7);
        border-radius: 8px;        
    }

    button {
        padding: 4px;
        background-color: var(--p-2);
        color: var(--p-6);
        border: 1px solid var(--p-6);
        cursor: pointer;

        &:hover {
            background-color: var(--p-3);
        }
    }

}